body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  padding: 10px;
  text-align: center; /* Vycentrování obsahu */
}

h1 {
  color: #333;
  margin-top: 50px;
  font-size: 24px;
}

button {
  background-color: #4CAF50;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
}

button:hover {
  background-color: #45a049;
}

a {
  text-decoration: none;
  color: white;
}
